@import 'tailwindcss';
@import '@triply/yasgui/build/yasgui.min.css';

html,
body {
  height: 100%;
  margin: 0;
}

.yasgui-host {
  min-height: 480px;
}

.yasqe-editor-host .yasqe {
  min-height: 8rem;
  border: 1px solid rgb(203 213 225);
  border-radius: 0.25rem;
}
